body {
    color: #434455;
    font-family: "Roboto", "Raleway", sans-serif;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    font-style: normal; 
}

ul {
    list-style: none; 
}





